{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="{% static 'movies.js' %}"></script>
    
    <title>Title</title>
</head>
<body>
<style>
    .container{
        background-color: darkgray;
    }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">The Movies@Mariana</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/movies">Movies <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="get">
            <label for="genre">Genre(s)</label>
            <select name="filter_genre" id="filter_genre" onchange="filterMovie()">
              {% for genre in genres_list %}
                <option class="movie_genre" value={{ genre }}/>{{ genre }}</option>
                {% endfor %}
        </form> 
          <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
            <input id="searchMovie" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" oninput="mySearch()">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
  <div class="container">
    <h2 class="text-center mb-2 mt-2"><b>Movies</b></h2>
<table id="movie_list">
  <tr>
    <th>Title</th>
    <th>Poster</th>
    <th>Genre(s)</th>
    <th>Rating</th>
    <th>Year Release</th>
    <th>Metacritic Rating</th>
    <th>Runtime</th>
  </tr>
  {% for movie in data %}
  <tr>
    <td>{{movie.title}}</td>
    <td><img src={{movie.poster}} width="20%" alt="{{ movie.title}}"></img></td>
    <td>{{movie.genre}}</td>
    <td>{{movie.rating}}</td>
    <td>{{movie.year_release}}</td>
    <td>{{movie.metacritic_rating}}</td>
    <td>{{movie.runtime}}</td>

</tr>
  {% endfor %}
</table>
</div>

</body>
</html>